__pycache__
*.py[cod]
.git
.gitignore
.env
.venv
env
venv
.mypy_cache
.ruff_cache
.pytest_cache
htmlcov
.coverage
*.egg-info
dist
build
data/
tests/
temp/
*.md
!README.md
notebooks/
.idea/
.vscode/
wandb/
mlruns/
